.containerdash {
    width: 1200px;
    height: 900px;
    margin-top: 30px;
    background: linear-gradient(180deg,rgba(217,234,242,0.40),rgba(217,234,242,0.05%));
    backdrop-filter: blur(0.1px);
    border-radius: 60px 0px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg,rgba(217,234,242,0.40),rgba(217,234,242,0.05%));
    backdrop-filter: blur(0.1px);
    border-radius: 60px 0px 0px 0px;
    padding: 20px;
    gap: 5rem;
}

.menu-1{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 7rem;
    margin-left: 20px;
}
.menu-2{
    display: flex;
    align-items: center;
    gap: 5rem;

}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STACK */
.idem {
    padding: 20px;
    border: 1px #DDD solid;
  }
  .idem:nth-child(1){
    width: 300px;
    border-radius: 60px 0px 0px 60px;
  }
  .idem:nth-child(2){
    width: 60px;
    border-radius: 0px 60px 60px 0px;
    text-align:left;
    color: white;
    background: var(--azulbotao);
    border: none;
    cursor: pointer;
    text-indent: -1.3px;
  }
  .idem:nth-child(1):focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px #DDD solid;
  } 
  /* END STACK */


