li a {
    border-radius: 60px;
    border: none;
    background-color: var(--azulbotao);
    color: var(--azulbebe);
    cursor: pointer;
    font-size: 17px;
    padding: 15px;
}

li a:hover {
    background-color: var(--azulClaro);
}

button{
    width: 193px;
    height: 59px;
    border-radius: 60px;
    border: none;
    background-color: var(--azulbotao);
    color: var(--azulbebe);
    margin-top: 11px;
    cursor: pointer;
    font-size: 17px;
}

button:hover{
    background-color: var(--azulClaro);
}