.container-creator {
  display: flex; /* Utiliza o modelo de layout flexbox para organizar os itens dentro do contêiner */
  flex-direction: column; /* Organiza os itens em uma coluna (verticalmente) */
  align-items: center; /* Alinha os itens ao centro horizontalmente */
  justify-content: center; /* Alinha os itens ao centro verticalmente */
  text-align: center; /* Alinha o texto dentro dos elementos ao centro */
  margin-top: 50px; /* Adiciona um espaço de 50px no topo do contêiner */
}

.nome-criador {
  font-size: 40px; /* Define o tamanho da fonte para o nome do criador */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a família de fontes a ser usada para o nome do criador */
  font-weight: bolder; /* Define o peso da fonte para tornar o nome do criador em negrito */
}

.icons-creator {
  display: flex; /* Utiliza o modelo de layout flexbox para organizar os ícones */
  justify-content: space-between; /* Distribui os ícones com o máximo de espaço possível entre eles */
}
